

<div class="dane">
  <div class="box-2-left">
    <h2>Sprzedawca:</h2>
    <p>{{sprzedawcaName}}</p>
    <p>{{sprzedawcaAdres}} </p>
    <p>{{sprzedawcaNIP}} </p>
  </div>
  <div class="box-2-left">
    <h2>Klient:</h2>
    <p>nazwa firmy:<input type="text" #nazwaFirmy></p>
    <p>adres firmy:<input type="text" #adresFirmy> </p>
    <p>NIP firmy:<input type="text" #NIPFirmy> </p>


  </div>
  <div class="clear"></div>
</div>
<div class="dane">
  <div class="row">
    <div class="box-10-left width5">Lp</div>
     <div class="box-10-left width15">Nazwa towaru</div>
     <div class="box-10-left width5">ilosc</div>
     <div class="box-10-left width5">J.M</div>
     <div class="box-10-left width5">Rabat</div>
     <div class="box-10-left width5">Cena Netto</div>
     <div class="box-10-left width5">Wartosc neto</div>
     <div class="box-10-left width5">vat</div>
     <div class="box-10-left width5">war wat</div>
     <div class="box-10-left width5">wart brutto</div>

    <div class="clear"></div>
    <div class="row">
      <div class="box-10-left width5">1</div>
       <div class="box-10-left width15"><input type="text" #nazwaTowaru></div>
       <div class="box-10-left width5"><input type="text" #nazwaTowaru></div>
       <div class="box-10-left width5"><input type="text" #nazwaTowaru></div>
       <div class="box-10-left width5"><input type="text" #nazwaTowaru></div>
       <div class="box-10-left width5"><input type="text" #nazwaTowaru></div>
       <div class="box-10-left width5"><input type="text" #nazwaTowaru></div>
       <div class="box-10-left width5"><input type="text" #nazwaTowaru></div>
       <div class="box-10-left width5"><input type="text" #nazwaTowaru></div>
       <div class="box-10-left width5"><input type="text" #nazwaTowaru></div>

      <div class="clear"></div>
  </div>


</div>

<div class="dane">
  <div class="box-2-left">
    <p>..............................</p>
    <p>podpis sprzedawcy</p>
  </div>
  <div class="box-2-left">
    <p>..............................</p>
    <p>podpis klienta</p>
  </div>

  <div class="dane">
    <div class="center">
      <button (click)="wyslji()"> wyslji</button>
    </div>

  </div>

</div>
